@import '~bootstrap';



body {
    font-family: 'Nunito', sans-serif;
    margin: 5px;
}


h1{
    color: red;
}

.Practice{
    display: none;
}

#tablePractice {
    display: none;
}

#noPractice{
    font-size: 24px;
    color: red;
    text-decoration: none;
}
