@import '~bootstrap';



body {
    font-family: 'Nunito', sans-serif;
    margin: 15px;
}

.basic_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#connexion {
    justify-content: right;
    text-align: right;
}

.buttonLink{
    margin-right: 20px;
}

h1{
    color: black;
    font-weight: bold;
}

.Practice{
    display: none;
}

#tablePractice {
    display: none;
}

#noPractice{
    font-size: 24px;
    color: red;
    text-decoration: none;
}
